<section class="py-4">
    <h1 class="display-2">
        Thank You
    </h1>
    <p class="lead">Your product will be e-mailed to you within 24 hours</p>
    <a href ="/" class="btn btn-dark btn-sm">Go Back</a>
</section>